.container {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 2rem;
  margin: 4rem;
  margin-left: 25%;
}

.title-article {
  padding: 40px;
  margin: 1.5em;
  flex-basis: 33.33%;
  background-color: white;
}

.container-categories {
  display: flex;
  flex-wrap: wrap;
}

.link-categories{
  text-decoration: none;
}

/* demo purposes only */

* {
  font-family: "Poppins", sans-serif;
}

.card {
  height: 215px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  background-color: aliceblue;
}

h3 {
  color: white;
  font-size: 24px;
  margin: 20px 0 0 20px;

}

p {

  font-weight: 400;
  font-size: 16px;
  align-self: end;
  margin: 0 0 20px 20px;
  letter-spacing: 0.5px;
}

.img-categories {}

.card:hover {
  transform: scale(1.035, 1.035);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.card:hover img {
  transform: translateY(-10px);
}