.container {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 2rem;
  margin: 4rem;
  margin-left: 25%;
  position: relative;
}

.categories-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.containor-categories{
  height: 100vh;
}


.container-categories {
  display: flex;
  flex-wrap: wrap;
}

.link-categories {
  text-decoration: none;
}

/* demo purposes only */

* {
  font-family: "Poppins", sans-serif;
}

.categories-card {
  /* height: 215px; */
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: grid;

  background-color: aliceblue;
}


h3 {
  color: white;
  font-size: 24px;
  margin: 20px 0 0 20px;

}

 .category-name{

  font-weight: 400;
  font-size: 22px;
  position: relative;
  top: 5vh;
  left: 25vh;
  color: black;
  margin: 10px;
  letter-spacing: 1px;
}
.titl-article{
  text-decoration: none;
}
.img-categories {
  display: block;
  /* margin: 0 auto; */
  width: 100%;
  /* height: 250px;
  width: 250px; */
  object-fit: cover;
  padding: 42px;
  background-color: #E3E8ED;
  background-size: cover;

}

.card:hover {
  transform: scale(1.035, 1.035);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.card:hover img {
  transform: translateY(-10px);
}