.create-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }
  
  .create-quiz label {
    margin-bottom: 8px;
  }
  
  .create-quiz input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 100%;
  }
  
  .create-quiz button {
    background-color: #4caf50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
    font-size: 16px;
  }
  
  .create-quiz button[type="button"] {
    background-color: #ccc;
    margin-left: 8px;
  }

.from-create{
    align-items: center;
    width: 30%;
}
.favoris-title{
    position: relative;
    right: 2em;
}
h1 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color:#efefef;
    text-shadow:1px 1px #919191,
    1px 2px #919191,
    1px 3px #919191,
    
    1px 3px 1px #919191;
  }
  
  h1:afte,r {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 39%;
    height: 1px;
    background-color: white;
}
  .remove-favoris:hover{
    color: red;
  }
  

  .create-quiz select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    /* width: 100%; */
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill="black" d="M13.55 5.95c-.2-.2-.5-.2-.7 0L8 10.3 2.15 5.45c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l6 6c.1.1.2.15.35.15s.25-.05.35-.15l6-6c.2-.2.2-.5 0-.7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px;
  }
  
.containor-create{
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 16px;
    padding: 16px;
}

  /* Style pour la flèche de la liste déroulante */
  .create-quiz select::-ms-expand {
    display: none;
  }
  
  .create-quiz select::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .create-quiz select::-webkit-scrollbar-thumb {
    background-color: #4caf50;
    border-radius: 4px;
  }
  
  .create-quiz select:focus {
    outline: none;
    border-color: #4caf50;
  }