.login-form {

  border: 1px solid;
  width: 45%;
  background: white;
  padding: 2em;
  margin: 4em;
  position: relative;
  left: 22%;
}

.msg-login {
  color: white;
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 32px;
  border: 1px solid white;
  margin: 4.5em;
  width: 50%;
  margin-left: 15em;
  border-radius: 16px;
  background-color: white;
  color: #34495e;
  box-shadow:#34495e;
}

.div-login {
  height: 50vh;
 
}

h1 {
  color:
    black;
}


.form-group {
  display: flex;
  justify-content: center;
  margin: 47px;
  flex-direction: column;
  width: 14%;
  position: relative;
}

.submit-button {
  /* width: 100%; */
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  /* justify-content: center; */
}

.submit-button:hover {
  background-color: #45a049;
}

h1 {
  margin: 1em;
}

.link-signup {
  position: relative;
  padding: 1em;
}

.link-forgot {
  position: relative;
  padding: 0.5em;


}

.login-container {
  height: 83vh;
}

.title-login {
  color: black;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 45%;
  margin-left: 30%;
}

.login-form {
  border: 1px solid;
  width: 40%;
  background: white;
  padding: 2em;
  border-radius: 2em;
  margin: 4em;
  position: relative;
  left: 27%;
}



@media screen and (max-width: 768px) {
.div-login {
position: absolute;
top: 25%;
left: 0%;
transform: translateX(-50%);
/* width: 50%; */

}
.msg-login{
  /* margin: 0; */
font-size: 20px;
margin-left: 17em;
}
}

