.signup-input {

        width: 100%;
        padding: 12px;
        margin: 8px;
        /* box-sizing: border-box; */
        border: 1px solid black;
        border-radius: 4px;

}

.text-accord {
        padding: 15px;
}

.contain-signup {
        height: 110vh;
}

.title-avantage {
        color: black;
        position: relative;
        bottom: 30px;
}
.error-message {
        color: red;
        font-size: 14px;
        margin-top: 8px;
      }

.div-avantage {
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 3%;
        background-color: #FBE192;
        margin-left: 70%;
        position: relative;
        bottom: 40em;
        border-radius: 16px;

}

.li-avantage {
        list-style-type: disc;
        padding: 15px;
        text-decoration: solid;
}


@media screen and (max-width: 768px) {
        .contain-signup {
                font-size: 10px;
                width: 100%;
                position: relative;
                /* right: 20%; */
        }

        .formsignup {
                font-size: 10px;
                width: 90%;
                position: relative;
                /* right: 34%; */
                border-radius: 16px;

        }

        .div-avantage {
                width: 100%;
                display: flex;
                flex-direction: column;
                display: none;
        }
}

@media screen and (max-width: 1080px) {
        .contain-signup {}

        .formsignup {
             
                margin: auto;
        }

        .div-avantage {
                width: 35%;
                margin-left: 63%;
                top: -38em;
                font-size: 15px;
        }
}