.SearchBar {
  display: flex;
  border-bottom: solid 1px #979e97;
  justify-content: space-evenly;
  background-color: floralwhite;
}

.home-icon {
display: inline-block;
width: 16px;
height: 16px;
background-color: black;
border-radius: 50%;
margin-right: 5px;
}

.button-searchBar {

  
  font-weight: bold;
  border-radius: 25px;
  padding: 10px;
  color: #34495E;
  --bs-link-hover-color:#34495E;
  margin: 5px;
  text-decoration: none;
  border-style: double;
  
  &:hover{
      background-color: #34495E;
      color: white;
  }
}

#input-search {
  width: 20em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  height: 38px;
  margin: 15px;
  text-align: center;

}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}



.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 176px;
}

.bm-burger-bars {
  background: #ffffff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #34da25;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #b8b7ad;
}

@media screen and  (max-width: 768px) {
  .SearchBar {
    position: relative;
  }
 .bm-menu-wrap {
  
    position: fixed;
    left: 0px;
    z-index: 1100;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
}

 .bm-burger-button{
  position: absolute;
top:-100px;

 }


 //
//  <Link className='button-searchBar' to={'/'}>
//  <i className="material-icons">home</i>
// </Link>
  .burger-menu {
 
    position: fixed;
    left: 0px;
    z-index: 1100;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
  }
  .input-search{
    width: 0%;
   
  
  }
  .button-searchBar {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .SearchBar {
  position: relative;
  }
  .bm-menu-wrap {
  position: fixed;
  left: 0px;
  z-index: 1100;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
  }
  .bm-burger-button {
    position: absolute;
    width: 4%;
    height: 37px;
    left: 117px;
    top: -6em;
}
.bm-overlay{
  display: none;
}
  .burger-menu {
  position: fixed;
  left: 0px;
  z-index: 1100;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
  }
  .input-search{
  width: 0%;
  }
  .button-searchBar {
  display: none;
  }
  }
//   @media screen and (max-width: 1080px) {
// //  .SearchBar {display: none;
//     }
//   }

@media screen and (max-width: 1080px) {
  .button-searchBar {
     padding: 5px;
     font-size: 12px;
  }
}