.SearchBar {
    display: flex;
    border-bottom: solid 1px #979e97;
    justify-content: space-evenly;
    background-color: floralwhite;
}


.ui.message{
    display: flex;
    justify-content: center;
}

.button-searchBar {

    
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
    color: #34495E;
    --bs-link-hover-color:#34495E;
    margin: 5px;
    text-decoration: none;
    border-style: double;
    
    &:hover{
        background-color: #34495E;
        color: white;
    }
}

#input-search {
    width: 20em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    height: 38px;
    margin: 15px;
    text-align: center;

}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}