.Header {
    background-color:#34495E;
    height: 10em;
}
.button-login{
    display: flex;
    right: 236px;
    position: absolute;
    top: 67px;
    border-style: double;
    background-color: #fff;
    text-decoration: none;
    margin: 5px;
    padding: 7px;
    
}


.button-profil{
    display: flex;
    right: 17em;
    position: absolute;
    top: 67px;
    border-style: double;
    background-color: #fff;
    text-decoration: none;
    margin: 5px;
    padding: 7px;
    border-radius: 16px;
    
}
.logoprof{
  width: 40px;
  height: 40px;
  top: 35%;
  position: relative;
  left: 80%;
}
/* === removing default button style ===*/
.button-logo {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .button-logo {
    
        --border-right: 6px;
        --text-stroke-color: rgba(255,255,255,0.6);
        --animation-color: aliceblue;
        --fs-size: 2em;
        letter-spacing: 3px;
        text-decoration: none;
        font-size: var(--fs-size);
        font-family: "Arial";
        top: 1.5em;
        left: 2em;
        position: relative;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--text-stroke-color);
    
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button-logo:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

  @media screen and (max-width: 768px) {
    .button-connexion{
      position: relative;
      left: 50%;
      top: 10%;
      font-size: 10px;
      text-decoration: none;
    }
    .logoprof{
   position: relative;
   left: 22%;
   width: 35px;
   height: 35px;
    }
    .button-logo{
        position: relative;
        left:6%;
        top:3.7em;
        font-size: 16px;

      }
      .button-profil{
        /* position: relative; */
        left: 25%;
        top:5%;
    font-size: 10px;      }
  }


  @media screen and (max-width: 1080px) {
    .button-logo{
      margin-left: 35%;

    }
    .logoprof{
     left: 30%;
     height: 48px;
     width: 48px;
    }
    }