
.Header {
   
    box-shadow: 0 20px 20px -30px rgba(0,0,0,.4); 
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #96C3EC;
    height: 17vh;

  
   
  }
.header-logo{
    position: fixed;
        left: 0px;
        border-radius: 10px;
        margin: 45px;
}

  .Login {
      position : absolute;
      right: 55px;
      top: 50px;
      border-radius: 10px;
      padding: 10px;
    }
  