.firstFooter {
    padding: 15px;
    padding-bottom:40px;
    /* margin: 5px; */
    bottom: 0px;
    width: 100%;
    border: 0.1px solid grey;
    height: 20px;
    background-color: white;
    

}
.link-footer {
margin: 10px;
font-weight: bold;
padding: 17px;
text-decoration: none;
color: #34495E;
--bs-link-hover-color: lightslategrey;
}

.span-footer {
    bottom: 0px;
    right: 0px;
    color: #34495E;
    margin: 12px;
    
}
.text-footer {
    position: absolute;
    
    margin: 2px;
    padding-left: 10px; 
    padding: 10px;
    color:white;
}

.newsletter {
    display: flex;
    justify-content: flex-end;
    color: white;
}