.firstFooter {
    padding: 30px;
    /* margin: 5px; */
    bottom: 0px;
    width: 100%;
    border: 0.1px solid grey;
    height: 20px;
    

}
.link-footer {
margin: 10px;
font-weight: bold;
padding: 17px;
text-decoration: none;
}

.span-footer {
    bottom: 0px;
    right: 0px;
    margin: 12px;
    
}
.text-footer {
    position: absolute;
    
    margin: 2px;
    padding-left: 10px; 
    padding: 10px;
}

.newsletter {
    display: flex;
    justify-content: flex-end;
}