.firstFooter {
    padding: 15px;
    padding-bottom:40px;
    /* margin: 5px; */
    bottom: 0px;
    width: 100%;
    border: 0.1px solid grey;
    height: 20px;
    background-color: white;
    

}
.link-footer {
margin: 10px;
font-weight: bold;
padding: 17px;
text-decoration: none;
color: #34495E;
--bs-link-hover-color: lightslategrey;
}

.span-footer {
    bottom: 0px;
    right: 0px;
    color: #34495E;
    margin: 12px;
    
}
.text-footer {
    position: absolute;
    
    margin: 2px;
    padding-left: 10px; 
    padding: 10px;
    color:white;
}

.newsletter {
    display: flex;
    justify-content: flex-end;
    color: white;
}



@media screen and (max-width: 768px) {
    .firstFooter {
      flex-direction: column;
      padding: 15px;
      padding-bottom: 22em;
    }
    .footer{
        width: 107%;
    }
    .link-footer {
      margin: 1em;
      padding: 10px 0;
      display: block;

    }
    
    .newsletter {
      display: block;
      margin: 10px 0;
    }
    
    .input-newsletter {
        position: relative;
        bottom: 5px;
        right: 31px;
        margin: 2em;
    }
    
    .text-footer {
      position: static;
      padding: 10px 0;
    }
  }
  @media screen and (max-width: 1080px) {
 .firstFooter{
    width: 105%;
    height: 100%;
    padding: 0.5em;
    
 }
 .text-footer{
    padding: 3em;
 }
 .link-footer{
    padding: 0em;
    // margin:1em;
 }
    }